body{
    margin: 0px;
    padding: 0px;
    color: rgb(32, 32, 32);
    font-family: 'Fjalla One', sans-serif;
}

/*fuente agregada: font-family: 'Fjalla One', sans-serif;  */
/*-------------------header-------------------*/
.header{
    height: auto; 
}

.bg-header{
    height: auto;
    background-color: black;
}

.logo-text{
    font-size: 30px;
}

.link1{
    color:white;
    font-weight: bold;
    font-size: 15px;
}

.link-hover1:hover{
    color: rgb(255,193,7);
}

.link-hover2:hover{
    color: rgb(253, 230, 160);
}

.linkNone:hover{
    text-decoration: none;
}

/*-------------------main----------------------*/
.home{
    width: 100%;
    height: 20em;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    background: url(/assets/imgs/photo/shirtShop1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
}

.home span{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    text-shadow: 2px 2px 3px white;
    text-shadow: -2px -2px 3px white;
}

.home span a{
    color: black;
}

.home .subtitle{
    color: rgb(255,193,7);
    font-size: 20px;
    width: 20%;
    background-color: black;
    align-self: center;
}

.mainSales{
    padding-top:2em ;
}

/*-------------productos---------------------*/

.imagen{
    height: 15em;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.view{
    position: absolute;
    bottom: -70px;
    background: rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 3em;
    color: white;
    line-height: 3em;
    text-align: center;
    font-family: cursive;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

#cardView:hover .view{
    bottom: 0px;
}

.price{
    color: rgb(69, 134, 64);
    font-size: 24px;
}

.imagen2{
    background: url('./../assets/imgs/photo/shirtShop2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-lecture1{
    background: rgba(0,0,0,0.4);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}